In [103]:
import ast
import pandas as pd

data = pd.read_csv('python/locations/coordinates/geo_api_lat_long_output.csv')
json_ls = [ast.literal_eval(item)[0] if item!= '[]' else None for item in data['api_json_respnose'].values]

lats = [json_item['lat'] if isinstance(json_item, dict) else None for json_item in json_ls]
data['latitude'] = lats

longs = [json_item['lon'] if isinstance(json_item, dict) else None for json_item in json_ls]
data['longitude'] = longs

nations = [json_item['country'] if isinstance(json_item, dict) else None for json_item in json_ls]
data['iso_2_letter_country_code'] = nations

# data = data.join(pd.read_csv('python/locations/names/iso_country_codes.csv')
#          ,how = 'inner'
#          ,lsuffix = 'iso_2_letter_country_code'
#          ,rsuffix = 'iso_2_letter_code'
#                 )

# data = data[['city_name_input', 'latitude', 'longitude', 'country_name', 'iso_2_letter_country_code']]
data

# data.join(pd.read_csv('python/locations/names/iso_country_codes.csv'))
# data
# for i in range(len(json_ls)):
#     try:
#         print(json_ls[i][0])
#     except IndexError:
#         print("Could not access zeroth index for this item: `" + str(json_ls[i]) + "`, occurring at index " +str(i))
#         break

,city_name_input,api_json_respnose,latitude,longitude,iso_2_letter_country_code
0,New York City,"[{'name': 'New York', 'local_names': {'ru': 'Н...",40.712728,-74.006015,US
1,Los Angeles,"[{'name': 'Los Angeles', 'local_names': {'ka':...",34.053691,-118.242766,US
2,Chicago,"[{'name': 'Chicago', 'local_names': {'ml': 'ഷി...",41.875562,-87.624421,US
3,Toronto,"[{'name': 'Old Toronto', 'local_names': {'en':...",43.653482,-79.383935,CA
4,Mexico City,"[{'name': 'Mexico City', 'local_names': {'bs':...",19.432630,-99.133178,MX
...,...,...,...,...,...
95,Bogotá,"[{'name': 'Bogota', 'local_names': {'es': 'Bog...",4.653465,-74.083645,CO
96,Lima,"[{'name': 'Lima', 'local_names': {'ka': 'ლიმა'...",-12.062107,-77.036526,PE
97,Santiago,"[{'name': 'Santiago', 'lat': 9.8694792, 'lon':...",9.869479,-83.798075,CR
98,Caracas,"[{'name': 'Caracas', 'local_names': {'ar': 'كر...",10.506093,-66.914601,VE
99,Quito,"[{'name': 'Quito', 'local_names': {'am': 'ኪቶ',...",-0.220164,-78.512327,EC